V1.0/gs1hc_v1_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 

This file is part of the work made by GS1 Brazil Horizontal Communication Workgroup.

-->
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://hc.gs1br.org.br/"
           targetNamespace="http://hc.gs1br.org.br/"
           version="1.0">
    
    <xs:simpleType name="id">
        <xs:annotation>
			<xs:documentation>id field use in each message inside the schema.</xs:documentation>
		</xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
            <xs:pattern value="[A-Z][0-9]" />
        </xs:restriction>
    </xs:simpleType>
    
        
    <xs:simpleType name="UtcOnlyDateTime">
		<xs:annotation>
			<xs:documentation>A strict subset of the XSD standard dateTime type (ISO 8601), accepting only dateTime values conforming to the format "yyyy-mm-ddThh:mm:ssZ".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value=".*:[0-9]{2}Z"/>
		</xs:restriction>
	</xs:simpleType>

   
 <xs:simpleType name="format">   
     	<xs:annotation>
			<xs:documentation>The format of the message inside the field content/file. It is to help pre processors to handle the message with the right transformation</xs:documentation>
		</xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="SNCM"/>
      <xs:enumeration value="EPCIS"/>
      <xs:enumeration value="HC"/>
      <xs:enumeration value="eINVOICE"/>
      <xs:enumeration value="OTHER"/>
    </xs:restriction>
  </xs:simpleType>

    <xs:complexType name="infolist">
        <xs:annotation>
			<xs:documentation>Info list field for general purporses.</xs:documentation>
		</xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="info">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="key" type="xs:string" use="required" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="type">
        <xs:annotation>
			<xs:documentation>The types for each message we can find inside the envelope.</xs:documentation>
		</xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Shipment"/> <!-- Format SNCM/EPCIS -->
      <xs:enumeration value="Receiving"/> <!-- Format SNCM/EPCIS -->      
      <xs:enumeration value="History"/> <!-- Format EPCIS -->
      <xs:enumeration value="Substitution"/> <!-- Format SNCM -->
      <xs:enumeration value="Revocation"/> <!-- Format SNCM -->
      <xs:enumeration value="ReceivingConfirmation"/> <!-- *Format HC - Only Boxes/Pallets - **** Maybe EPCIS -->
      <xs:enumeration value="OTHER"/> <!--Format HC -->
    </xs:restriction>
  </xs:simpleType>   


    <xs:attribute name="version"
                  type="xs:string" />
    <xs:attribute name="encoding"
                  type="xs:string" />
    
    
    <xs:complexType name="file">
        <xs:annotation>
			<xs:documentation>Element to carry the information or the file. It can be a base64 String or a file url to use in case we have larger files.</xs:documentation>
		</xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="fileURL"
                            type="xs:string" />
                <xs:element name="fileContent"
                            type="xs:base64Binary" />
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="format"
                      type="format" />
        <xs:attribute name="type"
                      type="type" />
        <xs:attribute name="schemaVersion"
                      type="xs:string" />
        <xs:attribute name="encoding"
                      type="xs:string" />
    </xs:complexType>
    
    <xs:complexType name="Partner">
        <xs:annotation>
			<xs:documentation>The trading partner.</xs:documentation>
		</xs:annotation>
        <xs:sequence>
            <xs:element name="partnerKey"
                        type="xs:string" />
            <xs:element name="partnerValue"
                        type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="Error">
        <xs:annotation>
			<xs:documentation>Error field</xs:documentation>
		</xs:annotation>
        <xs:sequence>
            <xs:element name="errorCode"
                        type="xs:string" />
            <xs:element name="errorDescription"
                        type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="QueryResponseItem">
        <xs:annotation>
			<xs:documentation>QueryResponseItem is the element of the list inside the query response.</xs:documentation>
		</xs:annotation>
        <xs:sequence>
            <xs:element name="date"
                        type="UtcOnlyDateTime"
                        minOccurs="1"
                        maxOccurs="1" />
            <xs:element name="content"
                        type="file"
                        minOccurs="1"
                        maxOccurs="1" />
            <xs:element name="additionalInfo"
                            type="infolist" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="QueryRequest">
        <xs:annotation>
			<xs:documentation>Query request is the information we need to send against the webservice to query information. The response is the QueryResponse with a list of files/urls</xs:documentation>
		</xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="partnerFrom"
                            type="Partner"
                            minOccurs="1"
                            maxOccurs="1" />
                
                <xs:element name="mbrAgt"
                            type="Partner"
                            minOccurs="1"
                            maxOccurs="1" />
                
                <xs:element name="partnerTo"
                            type="Partner"
                            minOccurs="1"
                            maxOccurs="1" />
                
                
                <xs:element maxOccurs="unbounded"
                            name="queryRequestItem">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="parameterKey"
                                        type="xs:string" />
                            <xs:element name="parameterValue"
                                        type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="additionalInfo"
                            type="infolist" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
            <xs:attribute name="id"
                          type="id" />
            <xs:attribute name="date"
                          type="UtcOnlyDateTime" />
            <xs:attribute name="schemaVersion"
                          type="xs:string" />
        </xs:complexType>
    </xs:element>
    
    <xs:element name="QueryResponse">
        <xs:annotation>
			<xs:documentation>QueryResponse is the element we receive after query the query method inside the webservice</xs:documentation>
		</xs:annotation>
        <xs:complexType>
            <xs:sequence>

                <xs:element name="partnerFrom"
                            type="Partner"
                            minOccurs="1"
                            maxOccurs="1"/>
                <xs:element name="mbrAgt"
                            type="Partner"
                            minOccurs="0"
                            maxOccurs="1" />
                <xs:element name="partnerTo"
                            type="Partner"
                            minOccurs="1"
                            maxOccurs="1"/>
                
                <xs:element minOccurs="1"
                            maxOccurs="unbounded"
                            name="QueryResponseItem"
                            type="QueryResponseItem" />

                <xs:element name="additionalInfo"
                            type="infolist" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
            <xs:attribute name="id"
                          type="id" />
            <xs:attribute name="date"
                          type="UtcOnlyDateTime" />
            <xs:attribute name="schemaVersion"
                          type="xs:string" />
        </xs:complexType>
    </xs:element>
    <xs:element name="ErrorMessage">
        <xs:annotation>
			<xs:documentation>Error message.</xs:documentation>
		</xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="error"
                            type="Error"
                            minOccurs="1" />
            </xs:sequence>
                        <xs:attribute name="id"
                          type="id" />
                        <xs:attribute name="date"
                          type="UtcOnlyDateTime" />
            <xs:attribute name="schemaVersion"
                          type="xs:string" />
        </xs:complexType>
    </xs:element>
    
    <xs:element name="InboundMessage">
        <xs:annotation>
			<xs:documentation>InboundMessage is the element we need to send in the standard operations with the information/file </xs:documentation>
		</xs:annotation>
        <xs:complexType>
            <xs:sequence>             

                <xs:element name="partnerFrom"
                            type="Partner"
                            minOccurs="1"
                            maxOccurs="1"/>
                <xs:element name="mbrAgt"
                            type="Partner"
                            minOccurs="0"
                            maxOccurs="1" />
                <xs:element name="partnerTo"
                            type="Partner"
                            minOccurs="1" 
                            maxOccurs="1"
                            />
                <xs:element name="carrier"
                            type="Partner" />
                <xs:element name="content"
                            type="file"
                            minOccurs="1" />

                <xs:element name="additionalInfo"
                            type="infolist" maxOccurs="unbounded"></xs:element>
            
            </xs:sequence>
                        <xs:attribute name="id"
                          type="id" />
                        <xs:attribute name="date"
                          type="UtcOnlyDateTime" />
            <xs:attribute name="schemaVersion"
                          type="xs:string" />
        </xs:complexType>
    </xs:element>


    <xs:element name="AttorneyAuthorization">
        <xs:annotation>
            <xs:documentation>Attorney Authorization</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="expireDate" 
                          type="UtcOnlyDateTime"/>

                <xs:element name="partnerFrom"
                            type="Partner"
                            minOccurs="1"
                            maxOccurs="1"/>
                <xs:element name="partnerAttorney"
                            type="Partner"
                            minOccurs="1"
                            maxOccurs="1" />
                

                <xs:element name="additionalInfo"
                            type="infolist" maxOccurs="1"></xs:element>

            </xs:sequence>
            <xs:attribute name="id"
                          type="id" />
            
            <xs:attribute name="date"
                          type="UtcOnlyDateTime"/>
           
            <xs:attribute name="schemaVersion"
                          type="xs:string" />
        </xs:complexType>
    </xs:element>
    
    <xs:element name="InboundResponse">
        <xs:annotation>
			<xs:documentation>InboundResponse is the result of the InboundMessage delivery.</xs:documentation>
		</xs:annotation>
        <xs:complexType>
            <xs:sequence>

                <xs:element name="partnerFrom"
                            type="Partner"
                            minOccurs="1"
                            maxOccurs="1" />

                <xs:element name="mbrAgt"
                            type="Partner"
                            minOccurs="1"
                            maxOccurs="1" />
                
                            <xs:element name="partnerTo"
                            type="Partner"
                            minOccurs="1"
                            maxOccurs="1" />                                
                <xs:choice>
                            <xs:element name="error"
                            type="Error"
                            minOccurs="1" />
                            <xs:element name="receipt"
                            type="xs:string"
                            minOccurs="1"
                            maxOccurs="1" />
				</xs:choice>

                <xs:element name="additionalInfo"
                            type="infolist" maxOccurs="unbounded"></xs:element>
                
                </xs:sequence>
                <xs:attribute name="id"
                         type="id" />
                <xs:attribute name="date"
                         type="UtcOnlyDateTime" />
                <xs:attribute name="schemaVersion"
                          type="xs:string" />            
            </xs:complexType>
    </xs:element>
    <xs:element name="PreferenceData">
        <xs:annotation>
			<xs:documentation>Response of the preferences Webservice Method.</xs:documentation>
		</xs:annotation>
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="partner"
                            type="Partner"
                            minOccurs="1"
                            maxOccurs="1" />
                
                <xs:element type="infolist" name="preferences"
                            minOccurs="1" maxOccurs="unbounded">
                </xs:element>
            </xs:sequence>
             <xs:attribute name="id"
                          type="id" />
            <xs:attribute name="date"
                          type="UtcOnlyDateTime" />
            <xs:attribute name="schemaVersion"
                          type="xs:string" />
        </xs:complexType>
    </xs:element>
</xs:schema>
